/* I know this goes against DRY */

.input--grid {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	grid-column: 6 / span 2;
	margin: auto 0;
}

.input--grid-row {
	display: flex;
	flex-direction: row-reverse;
	column-gap: 8px;
}
