main {
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 32px;
	box-sizing: border-box;
	padding: 96px 0;
	height: 100svh;
}

.menu--left {
	grid-column: 2 / span 2;
}

.menu--right {
	grid-column: 10 / span 2;
}
